.modal {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  opacity: 1;
  transition: 1s opacity;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.58);
  z-index: 2;
}
.registration {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background: #ffffff;
  position: relative;
  height: 550px;
  width: 497px;
  display: flex;
  flex-direction: column;
}
.authForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.authTitle {
  margin-top: 38px;
  margin-bottom: 15px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.851);
  font-weight: bold;
  line-height: 1.571;
  text-align: center;
  letter-spacing: 0.5px;
}
.authImg {
  position: relative;
  top: 18px;
}
.formInput {
  border-width: 0.95px;
  border-color: rgb(255, 181, 65);
  border-style: solid;
  width: 300px;
  height: 47px;
  margin-bottom: 30px;
  font-size: 11px;
  padding-left: 14px;
  font-weight: bold;
  color: #909090;
  line-height: 2;
}
.formInput.inputError {
  border-color: #f03226;
}
.authBtn {
  background-color: rgb(255, 181, 65);
  width: 315px;
  height: 48px;
  font-size: 21px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.571;
  text-align: center;
  border: none;
  margin: 10px 0;
  letter-spacing: 0.5px;
}
.authBtn:hover {
  cursor: pointer;
  box-shadow: 0px 9px 9px 0px rgba(0, 0, 0, 0.3);
  transition: 0.5s all;
}
.miniText {
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  line-height: 2;
  color: #6f6f6f;
  letter-spacing: 0.5px;
}
.otherInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.otherInfoText {
  width: 315px;
  display: flex;
  justify-content: space-between;
}

.icon {
  margin-top: 10px;
  margin-left: 3px;
  margin-right: 3px;
}
.icon:hover {
  cursor: pointer;
}
.closeIcon {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 15px;
}
.closeIcon:hover {
  fill: rgb(255, 181, 65);
  cursor: pointer;
}
